:root {
	--white: #fff;
	--black: #000;
	--gray-50: #ededed;
	--gray-100: #d2d2d2;
	--gray-200: #b4b4b4;
	--gray-300: #959595;
	--gray-400: #7f7f7f;
	--gray-500: #686868;
	--gray-600: #606060;
	--gray-700: #555;
	--gray-800: #4b4b4b;
	--gray-900: #3a3a3a;
	--red-50: #f7e0e0;
	--red-100: #ebb3b3;
	--red-200: #dd8080;
	--red-300: #cf4d4d;
	--red-400: #c52626;
	--red-500: #b00;
	--red-600: #b50000;
	--red-700: #ac0000;
	--red-800: #a40000;
	--red-900: #960000;
	--navy-50: #e0e5e9;
	--navy-100: #b3bdc7;
	--navy-200: #8092a2;
	--navy-300: #4d667d;
	--navy-400: #264561;
	--navy-500: #002445;
	--navy-600: #00203e;
	--navy-700: #001b36;
	--navy-800: #00162e;
	--navy-900: #000d1f;
	--blue-50: #e9f1ff;
	--blue-100: #c8dcff;
	--blue-200: #a4c5ff;
	--blue-300: #7faefe;
	--blue-400: #639cfe;
	--blue-500: #488bfe;
	--blue-600: #4183fe;
	--blue-700: #3878fe;
	--blue-800: #306efe;
	--blue-900: #215bfd;
}
