:root {
	--white: #fff;
	--black: #000;
	--navy-500: #002445;
	--red-500: #b00;
	--blue-500: #488bfe;
	--gray-50: "#ededed";
	--gray-100: "#d2d2d2";
	--gray-200: "#b4b4b4";
	--gray-300: "#959595";
	--gray-400: "#7f7f7f";
	--gray-500: "#686868";
	--gray-600: "#606060";
	--gray-700: "#555555";
	--gray-800: "#4b4b4b";
	--gray-900: "#3a3a3a";
}
