<ng-container *ngIf="user$ | async as user">
	<app-user-details-form
		[user]="user"
		(userChange)="update($event)"
	></app-user-details-form>

	<app-user-download-cv [user]="user"></app-user-download-cv>

	<div class="text-navy-500">
		{{ relativeUpdateDate }}
	</div>
</ng-container>

<mat-progress-spinner
	*ngIf="isFetching$ | async"
	mode="indeterminate"
	color="primary"
></mat-progress-spinner>

<div>{{ today | date : undefined : undefined : locale.toString() }}</div>

<div>
	{{ today | i18nDate }}
</div>
