<h1>Dates</h1>

<h2>Date</h2>
<table>
	<thead>
		<tr>
			<th>Source</th>
			<th>Current</th>
			<th>London</th>
			<th>Warsaw</th>
			<th>Current Dto</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{ dateLocalSource }}</td>
			<td>{{ dateLocal.toView() }}</td>
			<td>1.01.2022</td>
			<td>1.01.2022</td>
			<td>{{ dateLocal.toDto() }}</td>
		</tr>
		<tr>
			<td>{{ dateLocalSource }}</td>
			<td>
				<mat-form-field>
					<input
						matInput
						[matDatepicker]="datepickerLocal"
						[formControl]="dateLocalControl"
					/>
					<mat-datepicker-toggle
						matSuffix
						[for]="datepickerLocal"
					></mat-datepicker-toggle>
					<mat-datepicker #datepickerLocal></mat-datepicker>
				</mat-form-field>
			</td>
			<td>{{ dateLocalControlValue()?.toView() }}</td>
			<td>{{ dateLocalControlValue()?.toView() }}</td>
			<td>{{ dateLocalControlValue()?.toDto() }}</td>
		</tr>
		<tr class="bg-red-200">
			<td>{{ dateWithTimeUtcDatepickerSource }}</td>
			<td>
				<mat-form-field>
					<input
						matInput
						[matDatepicker]="datepickerUtc"
						[formControl]="dateWithTimeUtcControl"
					/>
					<mat-datepicker-toggle
						matSuffix
						[for]="datepickerUtc"
					></mat-datepicker-toggle>
					<mat-datepicker #datepickerUtc></mat-datepicker>
				</mat-form-field>
			</td>
			<td>{{ dateWithTimeUtcControlValue()?.toView() }}</td>
			<td>{{ dateWithTimeUtcControlValue()?.toView() }}</td>
			<td>{{ dateWithTimeUtcControlValue()?.toDto() }}</td>
		</tr>
	</tbody>
</table>
<h2>Date with time</h2>
<table>
	<thead>
		<tr>
			<th>Source</th>
			<th>Current</th>
			<th>London</th>
			<th>Warsaw</th>
			<th>Current Dto</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{ dateWithTimeUtcSource }}</td>
			<td>{{ dateWithTimeUtc.toView() }}</td>
			<td>1.01.2022, 08:00:00</td>
			<td>1.01.2022, 09:00:00</td>
			<td>{{ dateWithTimeUtc.toDto() }}</td>
		</tr>
		<tr class="bg-gray-200">
			<td>{{ dateWithTimeZoneSource }}</td>
			<td>{{ dateWithTimeZone.toView() }}</td>
			<td>1.01.2022, 06:00:00</td>
			<td>1.01.2022, 07:00:00</td>
			<td>{{ dateWithTimeZone.toDto() }}</td>
		</tr>
		<tr class="bg-red-200">
			<td>{{ dateWithTimeLocalSource }}</td>
			<td>{{ dateWithTimeLocal.toView() }}</td>
			<td>1.01.2022, 08:00:00</td>
			<td>1.01.2022, 08:00:00</td>
			<td>{{ dateWithTimeLocal.toDto() }}</td>
		</tr>
	</tbody>
</table>

TODO time picker
